In [1]:
import numpy as np
import pandas as pd

In [2]:
data={
  'candy variety':['chocolate hearts','sour jelly','candy canes','sour jelly','fruit drops'],
	'Date and Time':['09-02-2020 14:05','24-10-2020 18:00','18-12-2020 20:13','25-10-2020 10:00','18-10-2020 15:46'],
	'Day':['sunday','saturday','friday','sunday','sunday'],
	'Length':[3,3.5,3.5,3.5,3],
	'Breadth':[2,2,2.5,2,3],
	'Price':[7.5,7.6,8,7.6,9]
  }
df=pd.DataFrame(data)
df.head()

      candy variety     Date and Time       Day  Length  Breadth  Price
0  chocolate hearts  09-02-2020 14:05    sunday     3.0      2.0    7.5
1        sour jelly  24-10-2020 18:00  saturday     3.5      2.0    7.6
2       candy canes  18-12-2020 20:13    friday     3.5      2.5    8.0
3        sour jelly  25-10-2020 10:00    sunday     3.5      2.0    7.6
4       fruit drops  18-10-2020 15:46    sunday     3.0      3.0    9.0

In [3]:
df['Date and Time']=pd.to_datetime(df['Date and Time'],format="%d-%m-%Y %H:%M")
print(df)

      candy variety       Date and Time       Day  Length  Breadth  Price
0  chocolate hearts 2020-02-09 14:05:00    sunday     3.0      2.0    7.5
1        sour jelly 2020-10-24 18:00:00  saturday     3.5      2.0    7.6
2       candy canes 2020-12-18 20:13:00    friday     3.5      2.5    8.0
3        sour jelly 2020-10-25 10:00:00    sunday     3.5      2.0    7.6
4       fruit drops 2020-10-18 15:46:00    sunday     3.0      3.0    9.0

In [4]:
df['Date']=df['Date and Time'].dt.date
print(df[['candy variety','Date']])

      candy variety        Date
0  chocolate hearts  2020-02-09
1        sour jelly  2020-10-24
2       candy canes  2020-12-18
3        sour jelly  2020-10-25
4       fruit drops  2020-10-18

In [5]:
df['weekend']=np.where(df['Day'].isin(['saturday','sunday']),1,0)
print(df[['candy variety','Date','weekend']])

      candy variety        Date  weekend
0  chocolate hearts  2020-02-09        1
1        sour jelly  2020-10-24        1
2       candy canes  2020-12-18        0
3        sour jelly  2020-10-25        1
4       fruit drops  2020-10-18        1

In [6]:
data={
  'candy variety':['chocolate hearts','sour jelly','candy canes','sour jelly','fruit drops'],
	'Date and Time':['09-02-2020 14:05','24-10-2020 18:00','18-12-2020 20:13','25-10-2020 10:00','18-10-2020 15:46'],
	'Day':['sunday','saturday','friday','sunday','sunday'],
	'Length':[3,3.5,3.5,3.5,3],
	'Breadth':[2,2,2.5,2,3],
	'Price':[7.5,7.6,8,7.6,9]
  }
df=pd.DataFrame(data)
df.head()

      candy variety     Date and Time       Day  Length  Breadth  Price
0  chocolate hearts  09-02-2020 14:05    sunday     3.0      2.0    7.5
1        sour jelly  24-10-2020 18:00  saturday     3.5      2.0    7.6
2       candy canes  18-12-2020 20:13    friday     3.5      2.5    8.0
3        sour jelly  25-10-2020 10:00    sunday     3.5      2.0    7.6
4       fruit drops  18-10-2020 15:46    sunday     3.0      3.0    9.0

In [7]:
df['Date and Time']=pd.to_datetime(df['Date and Time'],format="%d-%m-%Y %H:%M")
df.loc[len(df.index)]=[np.NaN,'22-10-2020 17:24','thursday',3.5,2,np.NaN]
print(df)

      candy variety        Date and Time       Day  Length  Breadth  Price
0  chocolate hearts  2020-02-09 14:05:00    sunday     3.0      2.0    7.5
1        sour jelly  2020-10-24 18:00:00  saturday     3.5      2.0    7.6
2       candy canes  2020-12-18 20:13:00    friday     3.5      2.5    8.0
3        sour jelly  2020-10-25 10:00:00    sunday     3.5      2.0    7.6
4       fruit drops  2020-10-18 15:46:00    sunday     3.0      3.0    9.0
5               NaN     22-10-2020 17:24  thursday     3.5      2.0    NaN

In [8]:
df['candy variety']=df['candy variety'].fillna(df['candy variety'].mode()[0])
df['Price']=df['Price'].fillna(df['Price'].mean())
print(df)

      candy variety        Date and Time       Day  Length  Breadth  Price
0  chocolate hearts  2020-02-09 14:05:00    sunday     3.0      2.0   7.50
1        sour jelly  2020-10-24 18:00:00  saturday     3.5      2.0   7.60
2       candy canes  2020-12-18 20:13:00    friday     3.5      2.5   8.00
3        sour jelly  2020-10-25 10:00:00    sunday     3.5      2.0   7.60
4       fruit drops  2020-10-18 15:46:00    sunday     3.0      3.0   9.00
5        sour jelly     22-10-2020 17:24  thursday     3.5      2.0   7.94

In [9]:
df['Type of Day']=np.where(df['Day'].isin(['saturday','sunday']),'weekend','weekday')
df[['candy variety','Day','Type of Day']]
print(df)

      candy variety        Date and Time       Day  Length  Breadth  Price  \
0  chocolate hearts  2020-02-09 14:05:00    sunday     3.0      2.0   7.50
1        sour jelly  2020-10-24 18:00:00  saturday     3.5      2.0   7.60
2       candy canes  2020-12-18 20:13:00    friday     3.5      2.5   8.00
3        sour jelly  2020-10-25 10:00:00    sunday     3.5      2.0   7.60
4       fruit drops  2020-10-18 15:46:00    sunday     3.0      3.0   9.00
5        sour jelly     22-10-2020 17:24  thursday     3.5      2.0   7.94

  Type of Day
0     weekend
1     weekend
2     weekday
3     weekend
4     weekend
5     weekday

In [10]:
for x in df['Type of Day'].unique():df[x]=np.where(df['Type of Day']==x,1,0)
print(df[['candy variety','Day','Type of Day','weekend','weekday']])

      candy variety       Day Type of Day  weekend  weekday
0  chocolate hearts    sunday     weekend        1        0
1        sour jelly  saturday     weekend        1        0
2       candy canes    friday     weekday        0        1
3        sour jelly    sunday     weekend        1        0
4       fruit drops    sunday     weekend        1        0
5        sour jelly  thursday     weekday        0        1

In [11]:
df['Date and Time']=pd.to_datetime(df['Date and Time'])
df['Date']=df['Date and Time'].dt.date
print(df[['candy variety','Date']])

      candy variety        Date
0  chocolate hearts  2020-02-09
1        sour jelly  2020-10-24
2       candy canes  2020-12-18
3        sour jelly  2020-10-25
4       fruit drops  2020-10-18
5        sour jelly  2020-10-22